@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  border: 0;
}
.livro-principal {
  width: 245px;
  height: 305px;
  border-radius: 10px;
}
.resumo {
  font-size: 14px;
  padding-bottom: 20px;
}
.principal {
  display: flex;
  padding: 20px 0 0 20px;
}
.pi {
  width: 1000px;
  margin-left: 20px;
}
.comentarios {
  width: 95%;
  height: 220px;
  margin: 15px;
  border-radius: 10px;
  padding: 20px;
  background: rgb(218, 218, 218);
}
.foto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.leitora {
  display: flex;
  padding: 20px;
}
.opniao {
  height: 55px;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  width: 1000px;
  background: #f8f8f8;
}
.botão {
  color: #f8f8f8;
  background: green;
  padding: 10px 30px;
  text-decoration: none;
}
.botão:hover {
  opacity: 0.8;
}
.busca-link {
  width: 50%;
  height: 20px;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  background: rgb(218, 218, 218);
}
